{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> <!-- scripts + styling for jquery min-max slider -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<div class="container" style="max-width: 3000px;"> <!-- make better use of space by showing bigger plot -->
    <p>
        <h2>Integrated reaction rate flow diagrams</h2>
        <h4>Click on species from the list and select your desired setting</h4>
        <!-- <h5>This feature is experimental. Reload the page if problems arise.</h5> -->
    </p>
    <div class="row">
        <div class="col-3" id="flow-sidebar-col">
            <nav>
                <ul class="list-group bg-ncar-menu-secondary p-2" id="flow-diagram-options">
                    <form>
                        <div class="list-group-item">
                            <label for="flow-scale-select">Arrow width scaling:</label>
                            <select class="form-select" id='flow-scale-select'>
                                <option value="log">Log</option>
                                <option value="linear">Linear</option>
                            </select>
                        </div>
                        <div class="list-group-item">
                            <input type="checkbox" id="physics" name="physics" value="true">
                            <label for="physics"> Optimize Performance</label><br>
                        </div>
                        <div class="list-group-item" id="arrow-width-group-item">
                            <label for="flow-arrow-width-range" class="form-label" id="max-arrow-label">Max arrow width: 7</label>
                            <input type="range" class="form-range" min="1" max="15" value="7" id="flow-arrow-width-range">
                            
                            <h4 id="arrow-range-val-display" style="display:none;">7</h4>
                        </div>
                        <div class="list-group-item">
                            <p>
                                <label for="number">Time Range (seconds):</label>
                                <input type="text" id="amount" readonly style="border:0; color:black; font-weight:bold; display:none;">
                              </p>
                              <input type="text" id="flow-start-range" name="flow-start-range" value="0" style="float:left; width: 40%;">
                              <p style="float:left;padding-left:10px;padding-right:10px;padding-top:5px;"> to </p>
                              <input type="text" id="flow-end-range" name="flow-end-range" value="1" style="float:left;width: 40%;">
                              <br>
                              <br>
                              <div id="range-slider"></div>
                              <!-- start-range and end-range elements used to track slider values -->
                               <!-- <div id="flow-start-range" style="display: none;"></div> -->
                               
                               <!-- <div id="flow-end-range" style="display: none;"></div> -->
                               
                                <script>
                               
                                $( function() {
                                  $( "#range-slider" ).slider({
                                    range: true,
                                    min: 1,
                                    max: {{ simulation_length }}*60,
                                    values: [ 1, {{ simulation_length }}*60 ],
                                    slide: function( event, ui ) {
                                        // update values when slider changed
                                    //   $( "#amount" ).val( "" + ui.values[ 0 ] + "s - " + ui.values[ 1 ] + "s" );
                                      document.getElementById("flow-start-range").value = ui.values[ 0 ];
                                      document.getElementById("flow-end-range").value = ui.values[ 1 ];
                                       //reloadGraph(); // reload graph everytime slider is moved. if this causes too much stress on the server, we can remove this
                                    },
                                    stop: function(event, ui) {
                                        // reload graph when slider is released (a lot less stress on the server by waiting for the user to release the slider)
                                        reloadGraph();
                                        }
                                  });
                                //   base values for the slider
                                  $( "#amount" ).val("1s - {{simulation_length}}s");
                                  document.getElementById("flow-start-range").value = 1;
                                      document.getElementById("flow-end-range").value = {{simulation_length}}*60; // remove *600 to get minutes
                                } );
                               
                                </script>
                        </div>
                        <div class="list-group-item">
                            <p>
                                <label for="number">Filter range (mol m<sup>-3</sup>):</label>
                                <!-- <input type="text" id="filterRange" readonly style="border:0; color:black; font-weight:bold;width: 100%;"> -->
                              </p>
                              <input type="text" id="flow-start-range2" name="flow-start-range2" value="0" style="float:left; width: 40%;">
                              <p style="float:left;padding-left:10px;padding-right:10px;padding-top:5px;"> to </p>
                              <input type="text" id="flow-end-range2" name="flow-end-range2" value="1" style="float:left;width: 40%;">
                              <br>
                              <br>
                              <div id="range-slider2"></div>
                              <!-- start-range and end-range elements used to track slider values -->
                               <!-- <div id="flow-start-range2" style="display: none;"></div>
                               <div id="flow-end-range2" style="display: none;"></div> -->
                                <script>
                               
                                $( function() {
                                  $( "#range-slider2" ).slider({
                                    range: true,
                                    min: 0,
                                    max: 1,
                                    values: [ 0,1 ],
                                    slide: function( event, ui ) {
                                        // update values when slider changed
                                    //   $( "#filterRange" ).val( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] + "" );
                                      document.getElementById("flow-start-range2").value = ui.values[ 0 ];
                                      document.getElementById("flow-end-range2").value = ui.values[ 1 ];
                                       //reloadGraph(); // reload graph everytime slider is moved. if this causes too much stress on the server, we can remove this
                                    },
                                    stop: function(event, ui) {
                                        // reload graph when slider is released (a lot less stress on the server by waiting for the user to release the slider)
                                        // reloadGraph();
                                        }
                                  });
                                //   base values for the slider
                                  $( "#filterRange" ).val("NULL - NULL");
                                  document.getElementById("flow-start-range2").value = 0;
                                    //   document.getElementById("flow-end-range2").value = {{simulation_length}};
                                } );
                               
                                </script>
                        </div>
                    </form>
                </ul>
                <ul style="padding-left:0; background-color: white;height: 60px; box-sizing: border-box;padding: 0.5rem; background-color: #D9D9D6; font-size:1vm;">
                    <div id="show-elements" class="menu-it selected-menu-it" style="float:left;">Add Elements</div> 
                    <div id="block-elements" class="menu-it">Block Elements</div>
                </ul>
                <script>
                    document.getElementById("show-elements").addEventListener("click", handleShowBlockElementChange);
                    document.getElementById("block-elements").addEventListener("click", handleShowBlockElementChange);
                </script>
                    <ul id="flow-species-menu-list" class="list-group bg-ncar-menu-secondary p-2" style="width:100%; margin-top: -20px;">
                        
                        {% for item in species %}
                            <a id="li_{{item}}" class="list-group-item flow-species-item" href="#">☐ {{item}}</a>
                        {% endfor %}
                    </ul>
                    <ul id="blocked-elements-list" class="list-group bg-ncar-menu-secondary p-2" style="width:100%; margin-top: -20px; display:none;">
                        
                        {% for item in species %}
                            <a id="li_{{item}}_blocked" class="blocked-list-group-item flow-species-item" href="#" style="">☐ {{item}}</a>
                        {% endfor %}
                    </ul>
            </nav>
        </div>
        <div id="flow-diagram-container" class="col">
            
        </div>
    </div>
</div>
<!-- push footer down so it doesn't get in the way -->
<style>
    /* make it so we can scroll in elements list */
    #flow-species-menu-list {
        overflow-x: hidden;
                overflow-y: auto;
                height: 300px; /* Umake it so we can scroll in elements list, change this to change the menu height */
    }
    #blocked-elements-list {
        overflow-x: hidden;
                overflow-y: auto;
                height: 300px; /* Umake it so we can scroll in elements list, change this to change the menu height */
    }
footer {
    /* position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; */
    display: none;
}
.ui-slider-handle {
    background-color: #1863f9!important;
    border-radius: 50%!important;
}
.ui-slider-range {
    background-color: rgb(217, 222, 226)!important;
}
#range-slider {
    border-radius: 25px!important;
    height: .6em!important;
}
.menu-it {
    width: 50%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #00797C;
    padding: 0;
    margin: 0;
    border: 2px solid #00797C;
}
.selected-menu-it{
    /* border-bottom: 3px solid #00797C;
     */
     background-color: #00797C;
     color:white;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.blocked-list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #fff;
    color: #FF7F7F;
    border: 1px solid rgba(0,0,0,.125);
}
.blocked-list-group-item.active {
    z-index: 2;
    color: black;
    background-color: #FF7F7F;
    border-color: #FF7F7F;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #00797C;
    border-color: #00797C;
}
</style>
{% endblock %}
