.flow_area {
  background-color: white;
}

.species {
  stroke:aqua;
  fill:aqua;
  r:5;
}

.reaction {
  stroke:aquamarine;
  fill:aquamarine;
  r:5;
}

.flux {
  stroke: black;
  fill: black;
}

.reaction_highlighted {
  stroke:darkorchid;
}