@import 'bootstrap/dist/css/bootstrap.min.css';
@import "open-iconic/font/css/open-iconic-bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --jumbotron-padding-y: 3rem;
    --ncar-color-bg-dark: #C3D7EE;
    --ncar-color-bg-mid: #CED9E5;
    --ncar-color-bg-light: #DBE2E9;
    --ncar-color-primary-dark-green: #00797C;
    --ncar-color-primary-mid-green: #28939D;
    --ncar-color-primary-light-green: #40C1AC;
    --ncar-color-primary-dark-blue: #1A658F;
    --ncar-color-primary-mid-blue: #007FA3;
    --ncar-color-primary-light-blue: #00C1D5;
    --ncar-color-text-dark: #53565A;
    --ncar-color-text-mid-dark: #97999B;
    --ncar-color-text-mid-light: #BBBCBC;
    --ncar-color-text-light: #D9D9D6;
    --ncar-color-text-highlight-green: #A8C700;
}


html,
body {
    background: var(--ncar-color-bg-dark);
    font-family: 'Poppins';
}


.bg-ncar-body {
    background: var(--ncar-color-bg-light);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.row-full-width {
    width: 100%;
}

a {
    color: var(--ncar-color-primary-dark-green);
    transition: ease-in-out .15s;
}

a:hover {
    filter: brightness(150%);
}

span.fake-link {
    color: var(--ncar-color-primary-dark-green);
    transition: ease-in-out .15s;
    text-decoration: underline;
}

span.fake-link:hover {
    filter: brightness(150%);
}

.btn-small {
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.0rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    background-color: var(--ncar-color-primary-dark-green);
    border-color: var(--ncar-color-primary-dark-green);
    border-width: medium;
    color: white;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-secondary.active,
.show>.btn-secondary.dropdown-toggle {
    background-color: var(--ncar-color-primary-mid-green);
    border-color: var(--ncar-color-primary-mid-green);
    border-width: medium;
    color: white;
}

.btn-primary.disabled,
.btn-secondary.disabled {
    background-color: var(--ncar-color-text-mid-light);
    border-color: var(--ncar-color-text-mid-dark);
    border-width: medium;
    color: white;
}

.btn-white,
.btn-white:hover,
.btn-white:active,
.btn-white:focus,
.btn-white.active,
.show>.btn-white.dropdown-toggle {
    background-color: var(--bs-list-group-bg);
    border-color: var(--ncar-color-bg-dark);
    border-width: medium;
    color: var(--ncar-color-text-dark);
}

.btn-clear.disabled,
.btn-clear.disabled:hover,
.btn-clear.disabled:active,
.btn-clear.disabled:focus {
    background: none;
    color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btn-clear,
.btn-clear:hover,
.btn-clear:active,
.btn-clear:focus,
.btn-check:active+.btn-clear,
.btn-check:checked+.btn-clear,
.btn-clear.active,
.show>.btn-clear.dropdown-toggle {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.oi {
    font-size: 10px;
}

.oi-prefix {
    margin-right: 10px;
}


.bg-ncar-menu {
    background-color: var(--ncar-color-text-mid-light);
}

.bg-ncar-menu-secondary {
    background-color: var(--ncar-color-text-light);
}

.navbar-brand {
    color: white;
    font-size: 28px;
    margin-left: 0px;
}

.nav-section {
    color: var(--ncar-color-text-dark);
    padding-left: 10px;
}

.nav-link {
    color: var(--ncar-color-text-dark);
}

.nav-link.active,
.nav-link:hover {
    color: var(--ncar-color-primary-dark-green);
}

#logo {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linear-combo-check {
    box-shadow: none;
    size: default;
}

code {
    color: var(--ncar-color-primary-dark-blue);
}

.hero-img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: var(--ncar-color-text-dark);
}

.warning-box {
    margin: 50px;
    padding: 30px;
    border: solid 3px #ff1500;
    background-color: #ff6524;
}

.about-section {
    padding-top: 40px;
    padding-bottom: 35px;
}

.standout-section {
    background-color: var(--ncar-color-primary-light-green);
}

.about-heading {
    color: var(--ncar-color-primary-dark-green);
}

.logo-small {
    max-height: 100px;
}

footer {
    background-color: var(--ncar-color-text-light);
    /* position: absolute;
      bottom: 0;
      width: 100%;
      height: auto; */
}

#mynetwork {
    width: 100%;
    height: 100%;
}

.footer-link {
    text-decoration: none;
    color: var(--ncar-color-text-dark);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}