.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.menu {
  height: 100%;
  min-width: 250px;
  background-color: var(--ncar-color-text-mid-light);
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  justify-content: space-between;
}

.footer {
  border-top: 1px solid #dee2e6;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: var(--ncar-color-text-light);
  color: #fff;
  text-align: center;
  padding-top: 10px;
}

.consentBanner {
  position: fixed;
  bottom: 0;
  right: 0%;
  z-index: 9999;

  font-size: smaller;
  text-align: center;

  width: 50%;
  padding: 10px;

  background-color: var(--ncar-color-primary-dark-blue);
  color: white;
}


.consentBanner p {
  margin-bottom: 10px;
}

.consentBanner button {
  background-color: transparent;
  color: var(--ncar-color-text-highlight-green);
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.consentBanner a {
  text-decoration: none;
  color: var(--ncar-color-text-highlight-green);
}