{% extends "base.html" %}
{% block content %}

      <div class="navbox">
         <div class="navbar">
            <a href="/configure/options">Model Options</a>
            <a href="/configure/init-cond">Initial Conditions</a>
            <a href="/configure/evolv-cond">Evolving Conditions</a>
            <a id="review" class="selection" href="/configure/review">Review</a>
         </div>
      </div>

     <div class=confighead>Review Configuration JSON</div>

     <div id='reviewbox' class="configbox">
      <button><a href='download_config'>Download Configuration File</a></button>
      {% for key,value in config.items %}
      <tr>
         <td>
            <h3>{{ key }}:</h3>
         </td>
         <td>
            {% for key1, value1 in value.items %}
               <li>
                  {{ key1 }}: {{value1}}
               </li>
            {% endfor %}
         </td>
      </tr>
      {% endfor %}
     </div>


{% endblock %}



